<!-- including the currentScore view and its controller-->
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4">
			<ng-include src="'partials/display.html'" ng-controller="DisplayCtrl"></ng-include>
		</div>

	<!--The tweet-->
		<div class="col-xs-4">
			<span class = "pull-right">
				<div class = "Trump-headerinfo">
					<img src="http://i.imgur.com/urXHXE6.png"/>
				</div>
				<div class="tweet-container" >
					<p style="padding-left:45px">{{getQuestion}}</p>

				</div>
				<div class = "Trump-footerinfo">
					<img src = "http://i.imgur.com/0YkSv44.png"/>

				</div>
			</span>
		</div>

		<span class="pull-right">
					<ng-include src="'partials/highscore.html'" ng-controller="HighscoreCtrl"></ng-include>
				</span>

		<!-- including the highscore view and its controller
		<div class="col-xl-12">
			<span class="pull-right">
				<ng-include src="'partials/highscore.html'" ng-controller="HighscoreCtrl"></ng-include>
			</span>
		</div>
		-->

	</div>

	

<!--
<p><a href="#/answer/trump" class="btn btn-primary">Trump</a></p>
<p><a href="#/answer/dump" class="btn btn-primary">Dump</a></p>
-->






<div class="row">
	<div class="col-xs-4">
		<p>Trump</p>
		<i class="fa fa-usd fa-4x div1" id="trump" ondrop="drop(event)" ondragover="allowDrop(event), changeicon('trump', 1)" ondragleave="changeicon('trump', 2)" aria-hidden="true"></i>
		
	</div>
	<div class="col-xs-4">
		<br>
		<i id="drag1" class="fa fa-twitter fa-4x w3-hover-opacity" draggable="true"  ondragstart="drag(event)"></i>
	</div>
	<div class="col-xs-4">
		<p>Dump<p/>
		
		<i class="fa fa-trash-o fa-4x div1" id="dump" aria-hidden="true" ondrop="drop(event)" ondragover="allowDrop(event), changeicon('dump', 1)" ondragleave="changeicon('dump', 2)"></i>
	</div>	
</div>

<script>

function changeicon(id, flag){
	if (id == "trump") {
		if(flag == 1){
			document.getElementById("trump").className = "fa fa-thumbs-up fa-4x div1";
		} else if (flag == 2){
			document.getElementById("trump").className = "fa fa-usd fa-4x div1";
		}
		
	} else if (id == "dump") {
		if (flag == 1) {
			document.getElementById("dump").className = "fa fa fa-thumbs-down fa-4x div1";
		} else if(flag == 2){
			document.getElementById("dump").className = "fa fa-trash-o fa-4x div1";
		}
		
	}
}

function allowDrop(ev, id) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
    document.getElementsByClassName("div1")[0].style.background = "white";
    document.getElementsByClassName("div1")[1].style.background = "white";
    document.getElementsByClassName("div1")[0].style.color = "black";
    document.getElementsByClassName("div1")[1].style.color = "black";
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
    ev.toElement.style.background = "skyblue";
    ev.toElement.style.color = "white";
    setTimeout(function() { next(ev.toElement.id); }, 500);
}
function next(id) {
	location = '/#/answer/' + id;
}
</script>
