/*BUTTONS*/

#startButton {
  border-radius: 5px;
}

.loginButtons:hover {
   box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
}

.btn btn-primary:hover {
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
}

#loginDiv {
      background-color: #cc2900


}


p.speech {
  position: relative;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 27px;
  background-color: #fff;
  border: 8px solid #4099ff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}
p.speech:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 25px;
  top: -55px;
  border: 25px solid;
  border-color: transparent transparent #4099ff transparent;
}

p.speech:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 35px;
  top: -30px;
  border: 15px solid;
  border-color: transparent transparent white transparent;
}