/*General*/

body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif;
}

.w3-bar,h1,button {
  font-family: "Montserrat", sans-serif
}

.div1 {
  width: 80px;
  height: 80px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

/*BUTTONS*/

#startButton {
  border-radius: 5px;
}

.loginButtons:hover {
   box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
}

.btn btn-primary:hover {
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
}

#loginDiv {
      background-color: #f94a2f;
}

#prelogin {
    background-color: #000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px
}

#nextTweet {
    background-color: #f94a2f;/*#cc2c00;*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 10px
}

/*Divider*/
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#birdDiv {

}

.Trump {
  position: relative;
}

/*Arrows*/
/*Credit to Captain Anonymous at https://codepen.io/anon/pen/gWOgwg*/
.arrow {
  margin: 5% auto;

  bottom: 30px;
  right:0px;
  background: linear-gradient(to bottom, rgba(0, 255, 0, 0));
  -webkit-animation: 1s soft-blink infinite alternate;
  animation: 1s soft-blink infinite alternate;
  position: absolute;

  opacity: 0;
}

@-webkit-keyframes soft-blink {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 0.8; }
}

@keyframes soft-blink {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 0.8; }
}



/*    */
p.speech {
  position: relative;
  top: 50%;
  left: 10%;
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 27px;
  background-color: #fff;
  border: 8px solid #4099ff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}
p.speech:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 25px;
  top: -55px;
  border: 25px solid;
  border-color: transparent transparent #4099ff transparent;
}

p.speech:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 35px;
  top: -30px;
  border: 15px solid;
  border-color: transparent transparent white transparent;
}